/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 65vh;
  background-color: rgb(98, 176, 205);
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2px;
}